.banner_box {
    display: grid;
    border-radius: 0%;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    padding: 50px 0px;
    position: relative;


    .hi_el {
        position: absolute;
        /* height: 120px;
        width: 120px; */
        /* background-color: red; */
        left: 48.4%;
        top: 50%;
        

        color: var(--border_color2);
            -webkit-text-fill-color: white; 
            /* Will override color (regardless of order) */
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;
            font-family: fantasy;
            font-size: 400px;
            animation: zoomin_out 3s linear infinite;
            opacity: .4;
    }

    .left{
        position: relative;
        z-index: 10;
        display: grid;
        align-items: center;
        align-content: center;
        .sub_heading{
            font-size: 46px;
            margin-bottom: 20px;
        }
        .heading{
            font-size: 50px;
            text-transform: uppercase;
            font-family: var(--font_sora_bold);

            background: -webkit-linear-gradient(var(--border_color), var(--border_color2));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: 30px;
        }
        .banner_description{
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 30px;
        }
    }

    .banner_part {
        display: grid;
        column-gap: 30px;
        grid-template-columns: 250px 1fr;

        .download_cv{
           .cv_button{
                padding: 17px 35px;
                border: 1px solid var(--border_color);
                border-radius: 25px;
                font-size: 16px;
                
            i{
                margin-left: 5px;
            }

                &:hover{
                    background-color: var(--border_color);
                    color: var(--white);
                }
            }
        }

        .social_icons{
            display: flex;
            gap: 20px;
            li{
                a{
                    i{
                        font-size: 22.5px;
                        height: 45px;
                        width: 45px;
                        text-align: center;
                        line-height: 45px;
                        border: 1px solid var(--border_color);
                        border-radius: 50px;
                        color: var(--border_color);


                        &:hover{
                            background-color: var(--border_color);
                            color: var(--white);
                        }

                        
                        
                }
            }
        }
    }
 }
    .right{
        display: grid;
        justify-content: center;
        align-items: center;

        img{
            max-width: 435px;
            transition-duration: .8s;
            transform: rotate(5deg);
            -webkit-transform: rotate(5deg);
            -moz-transform: rotate(5deg);
            -ms-transform: rotate(5deg);
            -o-transform: rotate(5deg);
}

      &:hover{
        img{
           transform: rotate(10deg);
           -webkit-transform: rotate(10deg);
           -moz-transform: rotate(10deg);
           -ms-transform: rotate(10deg);
           -o-transform: rotate(10deg);
    }
      }  
        
    }

}
@keyframes zoomin_out {
    
    0%{
        transform: scale(.9) translate(-50%, -50%);
        -webkit-transform: scale(.9) translate(-50%, -50%);
        -moz-transform: scale(.9) translate(-50%, -50%);
        -ms-transform: scale(.9) translate(-50%, -50%);
        -o-transform: scale(.9) translate(-50%, -50%);
}
    50%{
        transform: scale(1) translate(-50%, -50%);
        -webkit-transform: scale(1) translate(-50%, -50%);
        -moz-transform: scale(1) translate(-50%, -50%);
        -ms-transform: scale(1) translate(-50%, -50%);
        -o-transform: scale(1) translate(-50%, -50%);
}

    100%{
        transform: scale(.9) translate(-50%, -50%);  
     
    }

}
.banner_bottom{
    display: flex;
    gap: 30px;
}
.banner_bot_h{
    font-size: 55px;
    text-align: right;
    color: var(--border_color);
    font-family: var(--font_sora_extrabold);
}
.banner_bot_h2{
    font-size: 20px;
    color: var(--border_color);
    font-family: var(--font_sora_regular);
    position: relative;
    left: -20px;
    
}
