

:root{
    --border: 1px solid rgb(234, 6, 234);
    --white: white;
    --border_color: #8c58f7;
    --border_color2: #3a1f70;
    --text_size: 16px;
    --section_heading_font_size: 40px;

    --font_sora_light: 'sora-light';
    --font_sora_regular: 'sora-regular';
    --font_sora_bold: 'sora-bold';
    --font_sora_extrabold: 'sora-extrabold';
    --font_sora_semibold: 'sora-semibold';

}